# Data Preparation

In [106]:
import numpy as np
import pandas as pd

## Load data

In [107]:
load_backup_data = pd.read_csv("../loan_data_2007_2014.csv")

/var/folders/jm/4cmln_kj5c3fzg5f9mkf28s40000gn/T/ipykernel_29691/1651753326.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  load_backup_data = pd.read_csv("../loan_data_2007_2014.csv")

In [108]:
loan_data = load_backup_data.copy()

In [109]:
# Delete a single column by name
loan_data = loan_data.drop('Unnamed: 0', axis=1)
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

## Explore

In [110]:
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [111]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125981 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466264 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 263.3+ MB

# General Pre processsing

## 1. Changing continous variables from object/string to int

### Variable 1. emp_length

In [112]:
loan_data["emp_length"].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

!Note: Always performing string manipulation in order. 

For example for the column 'emp_lenght' performing regex'\D' will make both the values '< 1 year' and '1 year' same as 1, Which we are trying to avoid here.

In [113]:
loan_data['emp_length_int'] = loan_data['emp_length'].replace('< 1 year', '0')

In [114]:
loan_data['emp_length_int'].unique()

array(['10+ years', '0', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [115]:
loan_data['emp_length_int'] = loan_data['emp_length_int'].fillna('0')

In [116]:
loan_data['emp_length_int'].unique()

array(['10+ years', '0', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years'],
      dtype=object)

In [117]:
# The following regex r'\D' replaces any non digit characters with an empty string
loan_data['emp_length_int'] = loan_data['emp_length_int'].replace(r'\D', '', regex = True)

In [118]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7'],
      dtype=object)

In [119]:
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])

In [120]:
type(loan_data['emp_length_int'][0])

numpy.int64

### Variable 2. term

In [121]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [122]:
loan_data['term_int'] = loan_data['term'].replace(r'\D', '', regex = True)

In [123]:
loan_data['term_int'].unique()

array(['36', '60'], dtype=object)

In [124]:
loan_data['term_int'] = pd.to_numeric(loan_data['term_int'])

In [125]:
type(loan_data['term_int'][0])

numpy.int64

## 2. Changing string variables to date variables

In [126]:
loan_data['earliest_cr_line'].head()

0    Jan-85
1    Apr-99
2    Nov-01
3    Feb-96
4    Jan-96
Name: earliest_cr_line, dtype: object

In [127]:
# Creating function for handling date conversion from string to datetime 
# (also handling dates before 2000 i.e 1960 for example, to avoid being labbeled as 2060)

from datetime import datetime


def convert_to_datetime(date_str):
    if pd.isnull(date_str):  # Handle missing values
        return None

    date_parts = str(date_str).split('-')
    if len(date_parts) != 2:
        return None

    month_abbr, year = date_parts
    month = datetime.strptime(month_abbr, '%b').month

    if int(year) >= 0 and int(year) <= 21:
        year = str(int(year) + 2000)
    else:
        year = str(int(year) + 1900)

    return datetime.strptime(f'01-{month}-{year}', '%d-%m-%Y')

In [128]:
loan_data['earliest_cr_line'] = loan_data['earliest_cr_line'].apply(convert_to_datetime)

In [129]:
loan_data['earliest_cr_line'].head()

0   1985-01-01
1   1999-04-01
2   2001-11-01
3   1996-02-01
4   1996-01-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [130]:
loan_data['mnths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line']) / np.timedelta64(1,"M")))

In [131]:
loan_data['mnths_since_earliest_cr_line'].head()

0    388.0
1    220.0
2    189.0
3    257.0
4    258.0
Name: mnths_since_earliest_cr_line, dtype: float64

In [132]:
loan_data['mnths_since_earliest_cr_line'].describe()

count    466256.000000
mean        238.095917
std          85.352555
min          72.000000
25%         181.000000
50%         222.000000
75%         280.000000
max         871.000000
Name: mnths_since_earliest_cr_line, dtype: float64

In [133]:
loan_data['issue_d']

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [134]:
loan_data['issue_date'] = loan_data['issue_d'].apply(convert_to_datetime)
loan_data['issue_date']

0        2011-12-01
1        2011-12-01
2        2011-12-01
3        2011-12-01
4        2011-12-01
            ...
466280   2014-01-01
466281   2014-01-01
466282   2014-01-01
466283   2014-01-01
466284   2014-01-01
Name: issue_date, Length: 466285, dtype: datetime64[ns]

In [135]:
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['issue_date']) / np.timedelta64(1, 'M')))
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean         50.204806
std          14.190212
min          35.000000
25%          40.000000
50%          46.000000
75%          56.000000
max         124.000000
Name: mths_since_issue_d, dtype: float64

# Preprocessing Discrete Variables

Creating dummy variables for discrete variables

In [136]:
loan_data['grade'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [137]:
pd.get_dummies(loan_data['grade'], prefix = 'Grade', prefix_sep=': ')

        Grade: A  Grade: B  Grade: C  Grade: D  Grade: E  Grade: F  Grade: G
0          False      True     False     False     False     False     False
1          False     False      True     False     False     False     False
2          False     False      True     False     False     False     False
3          False     False      True     False     False     False     False
4          False      True     False     False     False     False     False
...          ...       ...       ...       ...       ...       ...       ...
466280     False     False      True     False     False     False     False
466281     False     False     False      True     False     False     False
466282     False     False     False      True     False     False     False
466283      True     False     False     False     False     False     False
466284     False     False     False      True     False     False     False

[466285 rows x 7 columns]

In [138]:
loan_data_dummies = [
                        pd.get_dummies(loan_data['grade'], prefix = 'grade', prefix_sep=': '), 
                        pd.get_dummies(loan_data['sub_grade'], prefix = 'sub_grade', prefix_sep=': '), 
                        pd.get_dummies(loan_data['home_ownership'], prefix = 'home_ownership', prefix_sep=': '),
                        pd.get_dummies(loan_data['verification_status'], prefix = 'verification_status', prefix_sep=': '),
                        pd.get_dummies(loan_data['loan_status'], prefix = 'loan_status', prefix_sep=': '),
                        pd.get_dummies(loan_data['purpose'], prefix = 'purpose', prefix_sep=': '),
                        pd.get_dummies(loan_data['addr_state'], prefix = 'addr_state', prefix_sep=': '),
                        pd.get_dummies(loan_data['initial_list_status'], prefix = 'initial_list_status', prefix_sep=': ')
                    ]

converting loan_data_dummies to a dataframe

In [139]:
loan_data_dummies = pd.concat(loan_data_dummies, axis = 1)

In [140]:
type(loan_data_dummies)

pandas.core.frame.DataFrame

In [141]:
loan_data_dummies

,grade: A,grade: B,grade: C,grade: D,grade: E,grade: F,grade: G,sub_grade: A1,sub_grade: A2,sub_grade: A3,...,addr_state: TX,addr_state: UT,addr_state: VA,addr_state: VT,addr_state: WA,addr_state: WI,addr_state: WV,addr_state: WY,initial_list_status: f,initial_list_status: w
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,False,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
466281,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
466282,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
466283,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
466284,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

### Combining dummy variable data with original dataframe i.e loan_data

In [142]:
# axis = 0 , refers to rows (observations);
# axis = 1, refers to columns (variables)
## We will join the tables with columns
loan_data = pd.concat([loan_data, loan_data_dummies], axis = 1)

In [143]:
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,addr_state: TX,addr_state: UT,addr_state: VA,addr_state: VT,addr_state: WA,addr_state: WI,addr_state: WV,addr_state: WY,initial_list_status: f,initial_list_status: w
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,False,False,False,False,False,False,False,False,True,False
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,False,False,False,False,False,False,False,False,True,False
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,False,False,False,False,False,False,False,False,True,False
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,False,False,False,False,False,False,False,False,True,False
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,...,True,False,False,False,False,False,False,False,False,True
466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,...,False,False,False,False,False,False,False,False,True,False
466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,...,False,False,False,False,False,False,False,False,True,False
466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,...,False,False,False,False,False,False,False,False,False,True
466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,...,False,False,False,False,False,False,False,False,True,False

# Check for missing values and clean

In [144]:
# display only the column names with a number of missing values greater than 0,
missing_values_sum = loan_data.isnull().sum()
missing_values_sum[missing_values_sum > 0]

emp_title                        27588
emp_length                       21008
annual_inc                           4
desc                            340304
title                               21
delinq_2yrs                         29
earliest_cr_line                    29
inq_last_6mths                      29
mths_since_last_delinq          250351
mths_since_last_record          403647
open_acc                            29
pub_rec                             29
revol_util                         340
total_acc                           29
last_pymnt_d                       376
next_pymnt_d                    227214
last_credit_pull_d                  42
collections_12_mths_ex_med         145
mths_since_last_major_derog     367311
annual_inc_joint                466285
dti_joint                       466285
verification_status_joint       466285
acc_now_delinq                      29
tot_coll_amt                     70276
tot_cur_bal                      70276
open_acc_6m                     466285
open_il_6m                      466285
open_il_12m                     466285
open_il_24m                     466285
mths_since_rcnt_il              466285
total_bal_il                    466285
il_util                         466285
open_rv_12m                     466285
open_rv_24m                     466285
max_bal_bc                      466285
all_util                        466285
total_rev_hi_lim                 70276
inq_fi                          466285
total_cu_tl                     466285
inq_last_12m                    466285
mnths_since_earliest_cr_line        29
dtype: int64

### Variables needed for Analysis
1. annual_inc
2. delinq_2yrs
3. inq_last_6mnths
4. open_acc
5. pub_rec
6. total_acc
7. acc_now_delinq
8. total_rev_hi_lim
9. emp_length_int
10. mths_since_earliest_cr_line

treating missing values for needed variables

In [145]:
loan_data['total_rev_hi_lim'].isnull().sum()

70276

## total_rev_hi_lim

Here we assume that if we don't have revolving limit then it is equal to funded amount of the loan

In [146]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace = True)

In [147]:
loan_data['total_rev_hi_lim'].isnull().sum()

0

## annual_inc

For annual income (‘annual_inc’), replace the missing values with the mean of the non-missing values of the variable.

In [148]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)

In [149]:
loan_data['annual_inc'].isnull().sum()

0

## For all of the following variables, replace the missing values with zeroes
‘mths_since_earliest_cr_line’

‘acc_now_delinq’

‘total_acc’

‘pub_rec’

‘open_acc’

‘inq_last_6mths’

‘delinq_2yrs’

‘emp_length_int’

In [150]:
variables = ['mnths_since_earliest_cr_line', 'acc_now_delinq', 'total_acc', 'pub_rec', 'open_acc', 'inq_last_6mths', 'delinq_2yrs', 'emp_length_int']
loan_data[variables] = loan_data[variables].fillna(0)

In [151]:
loan_data[variables].isnull().sum()

mnths_since_earliest_cr_line    0
acc_now_delinq                  0
total_acc                       0
pub_rec                         0
open_acc                        0
inq_last_6mths                  0
delinq_2yrs                     0
emp_length_int                  0
dtype: int64

In [152]:
loan_data.to_pickle('../loan_data.pkl')