In [14]:
import numpy as np
import pandas as pd

In [15]:
loan_data = pd.read_pickle("../loan_data.pkl")
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,addr_state: TX,addr_state: UT,addr_state: VA,addr_state: VT,addr_state: WA,addr_state: WI,addr_state: WV,addr_state: WY,initial_list_status: f,initial_list_status: w
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,False,False,False,False,False,False,False,False,True,False
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,False,False,False,False,False,False,False,False,True,False
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,False,False,False,False,False,False,False,False,True,False
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,False,False,False,False,False,False,False,False,True,False
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,...,True,False,False,False,False,False,False,False,False,True
466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,...,False,False,False,False,False,False,False,False,True,False
466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,...,False,False,False,False,False,False,False,False,True,False
466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,...,False,False,False,False,False,False,False,False,False,True
466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,...,False,False,False,False,False,False,False,False,True,False

## Dependent Variable (Good/Bad Defintiion). Defaulted and Non-Defaulted Accounts

In [16]:
loan_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [17]:
loan_data['loan_status'].value_counts()

loan_status
Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: count, dtype: int64

seeing the numbers in proportions

In [18]:
loan_data['loan_status'].value_counts() / loan_data['loan_status'].count()

loan_status
Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: count, dtype: float64

## Defining the Default Definition

In [19]:
default_list = ['Charged Off', 'Default' ,'Does not meet the credit policy. Status:Charged Off', 'Late (31-120 days)' ]

In [20]:
# We create a new variable that has the value of '0' if a condition is met, and the value of '1' if it is not met.
# So here a value of '0' states bad loan i.e 'Default' and 1 is good loan.
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(default_list), 0, 1)

In [21]:
loan_data['good_bad']

0         1
1         0
2         1
3         1
4         1
         ..
466280    1
466281    0
466282    1
466283    1
466284    1
Name: good_bad, Length: 466285, dtype: int64

In [22]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,addr_state: UT,addr_state: VA,addr_state: VT,addr_state: WA,addr_state: WI,addr_state: WV,addr_state: WY,initial_list_status: f,initial_list_status: w,good_bad
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,False,False,False,False,False,False,False,True,False,1
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,False,False,False,False,False,False,False,True,False,0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,False,False,False,False,False,False,False,True,False,1
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,False,False,False,False,False,False,False,True,False,1
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,False,False,False,False,False,False,False,True,False,1